<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Study Tool</title>
<link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/main.css?v=<%= Math.floor(Math.random() * 100); %>">
