<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <h1>study app</h1>
      <nav>
        <a href="#">play game</a>
        <a href="users/new">sign up</a>
        <a href="sessions/new">log in</a>
      </nav>
    </header>
    <main>
      <section class="landing-page">
        <h3>play the game</h3>
      </section>
      <section class="landing-page about">
          <h3>about this app</h3>
          <section>
            <img class="graphic" src="/img/flash_card.svg" alt="flash card graphic" />
            <p>create your own flash cards</p>
          </section>
          <section>
            <img class="graphic" src="/img/light_bulb.svg" alt="light bulb graphic" />
            <p>learn from others</p>
          </section>
          <section>
            <img class="graphic" src="/img/flash_card.svg" alt="flash card graphic" />
            <p>and test yourself</p>
          </section>
      </section>
      <section class="landing-page enter-page">
        <a href="users/new">sign up</a>
        <a href="sessions/new">log in</a>
      </section class="landing-page">
    </main>
    <footer>
      <p>Created by GA WDIR student Hanna Hauck</p>
    </footer>
  </body>
</html>
