<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/header %>
    </header>
    <main>
      <section class="landing-page">
        <h2 class="down">&#9662;</h2>
      </section>
      <section class="landing-page about">
          <h2>About Crammer</h2>
          <section>
            <img class="graphic" src="/img/flash_card.svg" alt="flash card graphic" />
            <h4 class="light">Create flash cards</h4>
            <p>Start revising your study material right away by breaking it down into small bits that are meaningful to <em>you</em>.</p>
          </section>
          <section>
            <img class="graphic" src="/img/light_bulb.svg" alt="light bulb graphic" />
            <h4 class="medium">Learn from others</h4>
            <p>Check out other users' study material, compare notes and see how they tackle the learning process.</p>
          </section>
          <section>
            <img class="graphic" src="/img/phone.svg" alt="mobile phone" />
            <h4 class="strong">Test yourself</h4>
            <p>Use your flash cards to help you deepen your knowledge. Study anywhere you want - on your phone or at home at your desk.</p>
          </section>
          <h2 class="down">&#9662;</h2>
      </section>
      <section class="landing-page enter-page">
        <h2><a href="/users/new">sign up</a></h2>
      </section>
    </main>
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
