<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <h1>study app</h1>
      <nav>
        <a href="#">play game</a>
        <a href="users/new">sign up</a>
        <a href="sessions/new">log in</a>
      </nav>
    </header>
    <main>
      <section class="landing-page">
        <h3>play the game</h3>
      </section>
      <section class="landing-page">
        <article>
          <h3>about this app</h3>
          <p>create your own flashcards</p>
          <p>revise</p>
          <p>and test yourself</p>
        </article>
      </section>
      <section class="landing-page">
        <a href="users/new">sign up</a>
        <a href="sessions/new">log in</a>
      </section class="landing-page">
    </main>
    <footer>
      <p>Created by GA WDIR student Hanna Hauck</p>
    </footer>
  </body>
</html>
