* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 3em;
}

header {
   background-color: rgba(255,255,255,.9);
   color: #000;
   border-bottom: .2em solid #6cdea0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1;
}

header a {
  color: #000;
  text-decoration: none;
}

header a:hover {
  color: #6cdea0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

header nav a {
  color: #6cdea0;
  padding-right: 1em;
  font-size: 1.2em;
  text-decoration: none;
}

header nav a:hover {
  color: #808080;
}

header nav input {
  font-size: 1.2em;
  border: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: #6cdea0;
}

header nav input:hover {
  cursor: pointer;
  color: #808080;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: .3em 3%;
}


main {
  margin-top: 3.4em;
}

.landing-page {
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  min-height: 32em;
}

.landing-page:first-of-type {
  color: #000;
  background-color: #6cdea0;
}

.down {
  align-self: flex-end;
}

.landing-page.about {
  background: #f9f9f9;
  background: -webkit-linear-gradient(rgba(249,249,249,1), rgba(249,249,249,0));
  background: -o-linear-gradient(rgba(249,249,249,1), rgba(249,249,249,0));
  background: -moz-linear-gradient(rgba(249,249,249,1), rgba(249,249,249,0));
  background: linear-gradient(rgba(249,249,249,1), rgba(249,249,249,0));
}

.landing-page h2 {
  width: 100%;
  font-size: 2em;
  padding: 1.5em 0;
}

.landing-page.about section h4 {
  font-size: 1.3em;
}

.landing-page.about section {
  width: calc(100%/3);
  padding: 1em;
}

.landing-page.about section p {
  text-align: justify;
}

.graphic {
  width: 50%;
}

.landing-page a {
  color: #fff;
  text-decoration: none;
  background-color: #6cdea0;
  padding: 1em 5%;
}

.landing-page a:hover {
  background-color: #808080;

}


aside {
  padding: 0 5%;
  background-color: #6cdea0;
  color: #fff;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  color: #000;
  height: 10em;
}

aside a {
  color: #000;
}

aside a:hover {
  color: #fff;
}

.light-bulb {
  width: 8em;
  height: 8em;
  border-radius: 100%;
  background-image: url('../img/light_bulb.svg');
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4em;
}

.topics {
  padding: 1em 3%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 30em;
  margin-top: 2em;
}

.topics h2 {
  font-size: 2em;
  padding: 0;
}

.topics h3 {
  font-size: 1.5em;
  width: 50%;
  align-self: stretch;
  margin-left: 25%;
  font-style: italic;
  color: #808080;
}

.topics:last-of-type {
  border-top: .2em solid #fff;
  background-color: #f9f9f9
}

.user-topics-index {
  border-top: .2em solid #6cdea0;
  background-color: #f9f9f9;
  width: 48%;
  margin: 0 1% 1em 1%;
  padding: 1em 5%;
}

.user-topics-index a {
  color: #000;
}

.user-topics-index h4 {
  font-size: 2em;
  text-align: center;
}

.user-topics-index p {
  font-size: 1.5em;
  padding: .3em 0;
  text-align: justify;
}


.other-topics-index {
  background-color: #fff;
  padding: 1em 5%;
  border-radius: .3em;
  width: calc(100%/3);
}


.form {
  padding: 2em 5%;
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #efefef;
  margin: 1em auto;
  font-size: 1.5em;
  border-radius: .2em;
  position: relative;
}

.form:first-of-type {
  margin-top: 5em;
}

.form legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #6CDEA0;
  text-align: center;
  padding: .2em 0;
  color: #fff;
  text-transform: uppercase;
  border-top-left-radius: .2em;
  border-top-right-radius: .2em;
}

.form label {
  margin: 1.5em 0 .3em 0;
}

.form input {
  padding: .2em 2%;
  font-family: 'Quicksand', sans-serif;
  border-radius: .2em;
  border: 0;
  background-color: #fff;
}

.form textarea {
  padding: .2em 2%;
  font-family: 'Quicksand', sans-serif;
  border-radius: .2em;
  border: 0;
  background-color: #fff;
  max-width: 100%;
}

.form input[type="submit"] {
  margin: 1.5em 0 0 0;
  padding: .5em 5%;
  width: 30%;
  background-color: #6CDEA0;
  color: #fff;
  box-shadow: .1em .1em .3em #ccc;
}

.form input[type="submit"]:hover {
  background-color: #ccc;
  color: #000;
}

.form p {
  text-align: justify;
  font-size: .7em;
  padding: .5em 0;
}

.form input.delete-btn {
  background-color: #ff9999;
  width: 100%;
  color: #000;
}

.form input.delete-btn:hover {
  background-color: #FF0000;
  color: #fff;
}

footer {
  background-color: rgba(255,255,255,.9);
  color: #000;
  text-align: center;
  padding: 1em 5%;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: .2em solid #6cdea0;
}

footer p {
  font-size: .7em;
}

@media (max-width: 600px) {

  .landing-page.about section {
    width: 100%;
  }

  body {
    font-size: .7em;
  }

  aside section {
    width: 100%;
  }

  aside section p {
    padding: 0 3%;
  }

  aside nav {
    width: 100%;
  }

  .form {
    width: 90%;
  }

  .user-topics-index {
    width: 100%;
  }

}
