* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*border: 1px dotted #000;*/
}

ul {
  list-style: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 3em;
}

header {
   background-color: rgba(255,255,255,.9);
   color: #000;
   border-bottom: .2em solid #6cdea0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1;
}

a {
  color: #000;
}

a:hover {
  color: #6cdea0;
}

header a {
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

header nav a {
  color: #6cdea0;
  padding-right: 1em;
  font-size: 1.2em;
  text-decoration: none;
}

header nav a:hover {
  color: #808080;
}

header nav input {
  font-size: 1.2em;
  border: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: #6cdea0;
}

header nav input:hover {
  cursor: pointer;
  color: #808080;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: .3em 3%;
}


main {
  margin: 3.4em 0;
}

.landing-page {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  min-height: 30.5em;
}

.landing-page:first-of-type {
  color: #000;
  background-color: #6cdea0;
  background-image: url('/img/brain.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: #fff;
  position: relative;
}

.landing-page:first-of-type h1 {
  font-size: 5em;
  width: 100%;
  padding: 0;
  margin: 0;
  align-self: flex-end;
  transform: rotate(15deg);
}

.landing-page .down {
  align-self: flex-end;
  margin-bottom: -2em;
}

.landing-page.about {
  background: #f9f9f9;
  background: -webkit-linear-gradient(rgba(249,249,249,1), rgba(249,249,249,0));
  background: -o-linear-gradient(rgba(249,249,249,1), rgba(249,249,249,0));
  background: -moz-linear-gradient(rgba(249,249,249,1), rgba(249,249,249,0));
  background: linear-gradient(rgba(249,249,249,1), rgba(249,249,249,0));
}

.landing-page h2 {
  width: 100%;
  font-size: 2em;
  padding: 1.5em 0;
}

.landing-page.about section h4 {
  font-size: 1.3em;
}

.landing-page.about section {
  width: calc(100%/3);
  padding: 1em;
}

.landing-page.about section p {
  text-align: justify;
}

.graphic {
  width: 50%;
}

.landing-page a {
  color: #fff;
  text-decoration: none;
  background-color: #6cdea0;
  padding: 1em 5%;
}

.landing-page a:hover {
  background-color: #808080;

}


aside {
  padding: 0 5%;
  background-color: #6cdea0;
  color: #fff;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
  color: #fff;
  height: 10em;
}

aside section {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column ;
}

aside section:first-of-type {
  text-align: left;
  align-items: flex-start;
}

aside section:last-of-type {
  text-align: right;
  align-items: flex-end;
}

aside a {
  color: #fff;
  padding: .5em 0;
}

aside a:hover {
  color: #000;
  padding: .5em 0;
}

aside h2 {
  font-size: 1.3em;
}

/*aside p {
  padding: .3em 3%;
  color: #f8f8f8;
  font-size: .8em;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  based on: https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/
}*/

.topic-options {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
}

.topic-options h2 {
  text-transform: uppercase;
}

.topic-options section {
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: .01em dotted #808080;
  margin: .5em 0;
  color: #808080;

}

.topic-options section a {
  padding: .5em 1%;
  color: #808080;
}

.topic-options section a:hover {
  color: #6cdea0;
}


.light-bulb {
  width: 8em;
  height: 8em;
  border-radius: 100%;
  background-image: url('../img/light_bulb.svg');
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -4em;
}

.topics {
  padding: 1em 3%;
  margin: auto;
  margin-bottom: 1em;
}

.topics h2 {
  font-size: 2em;
  padding: 0;
  width: 100%;
}

.topics h3 {
  font-size: 1.5em;
  width: 50%;
  align-self: stretch;
  margin: auto;
  font-style: italic;
  color: #808080;
  padding-top: 1em;
}

.topics:first-of-type {
  background-color: #fff;
  background: -webkit-linear-gradient(rgba(249,249,249,0), rgba(249,249,249,1));
  background: -o-linear-gradient(rgba(249,249,249,0), rgba(249,249,249,1));
  background: -moz-linear-gradient(rgba(249,249,249,0), rgba(249,249,249,1));
  background: linear-gradient(rgba(249,249,249,0), rgba(249,249,249,1));
}

.topics table {
  width: 75%;
  margin: auto;
  padding-top: 1em;
}

.topics th {
  font-size: 1.8em;
  padding: .5em 5%;
  color: #fff;
  width: 50%;
}


#header-row-one {
  background-color: #56b180;
}

#header-row-two {
  background-color: #89e4b3;
}

.topics tr:nth-of-type(even) {
  background-color: #efefef;
}

.topics tr:nth-of-type(odd) {
  background-color: #fff;
}

.topics td {
  font-size: 1.4em;
  padding: .5em 5%;
}

.topics td:nth-of-type(even) {
  color: #808080;
}

.topics-index {
  border-top: .2em solid #6cdea0;
  width: 48%;
  margin: 1em 1% 0 1%;
  padding: 1em 5%;
}

.topics-index a {
  color: #000;
}

.topics-index a:hover {
  color: #808080;
}

.topics-index h4 {
  font-size: 1.5em;
  text-align: left;
}

.topics-index p {
  font-size: 1.3em;
  padding: .3em 3%;
  text-align: justify;
}

.user-topics {
  background-color: #efefef;
  box-shadow: .2em .2em .5em .1em #ccc;
}

.other-topics {
  background-color: #f8f8f8;
  box-shadow: .2em .2em .5em .1em #ccc;
}

.collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
}

.flash-card {
  width: 30%;
  background-color: #fff;
  box-shadow: .2em .2em .5em .1em #ccc;
  border-radius: .2em;
  margin: .5em 1%;
}

.flash-card h4 {
  background-color: #808080;
  color: #fff;
  border-top-left-radius: .2em;
  border-top-right-radius: .2em;
  font-size: 1.3em;

}

.flash-card p {
  padding: .5em 5%;
  font-size: 1.1em;
  text-align: justify;
}

.flash-card a {
  width: 100%;
  display: block;
  font-size: 1em;
  text-align: right;
  color: #808080;
  padding: .3em 3%;
}

.flash-card a:hover {
  color: #6cdea0;
}

.quiz {
  width: 80%;
  margin: auto;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #efefef;
  padding: 5em 10%;
  border-radius: .2em;
  position: relative;
}

.quiz-question {
  width: 100%;
  font-size: 2em;
  background-color: orange;
  padding: .5em 5%;
  margin: .3em 0;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.quiz-answer {
  width: 100%;
  font-size: 1.8em;
  padding: .3em 3%;
  margin: .3em 0;
  background-color: #fff;
}

#final-score {
  background-color: rgba(0,0,0,.8);
  color: #fff;
  font-size: 2.5em;
  padding: 2em 5%;
  border-radius: .2em;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  display: none;
}

#final-score p {
  padding-bottom: 1em;
}

#correct {
  color: #6CDEA0;
}

#wrong {
  color: red;
}

#final-score a {
  color: grey;
}

#final-score a:hover {
  color: orange;
}

.form {
  padding: 2em 5%;
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #ccc;
  margin: 1em auto;
  font-size: 1.5em;
  border-radius: .2em;
  position: relative;
}

.form:first-of-type {
  margin-top: 5em;
}

.form legend {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #6CDEA0;
  text-align: center;
  padding: .2em 0;
  color: #fff;
  text-transform: uppercase;
  border-top-left-radius: .2em;
  border-top-right-radius: .2em;
}

.form label {
  margin: 1.5em 0 .3em 0;
}

.form input {
  padding: .2em 2%;
  font-family: 'Quicksand', sans-serif;
  border-radius: .2em;
  border: 0;
  background-color: #fff;
}

.form textarea {
  padding: .2em 2%;
  font-family: 'Quicksand', sans-serif;
  border-radius: .2em;
  border: 0;
  background-color: #fff;
  max-width: 100%;
}

.form input[type="submit"] {
  margin: 1.5em 0 0 0;
  padding: .5em 5%;
  width: 30%;
  background-color: #6CDEA0;
  color: #fff;
  box-shadow: .1em .1em .3em #ccc;
}

.form input[type="submit"]:hover {
  background-color: #808080;
  color: #fff;
}

.form p {
  text-align: justify;
  font-size: .7em;
  padding: .5em 0;
}

.form input.delete-btn {
  background-color: #ff9999;
  width: 100%;
  color: #000;
}

.form input.delete-btn:hover {
  background-color: #FF0000;
  color: #fff;
}

.status-messages {
  text-align: center;
  padding: 1em 5%;
  font-size: 1.5em;
  margin: 1em 5%;
}

footer {
  /*background-color: rgba(255,255,255,.9);*/
  color: #000;
  text-align: center;
  width: 100%;
  /*position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;*/
  /*border-top: .2em solid #6cdea0;*/
}

footer p {
  font-size: .7em;
  padding: 1em 5%;
}

footer a {
  color: #808080;
}

footer a:hover {
  color: #6cdea0;
}

@media (max-width: 600px) {

  .landing-page.about section {
    width: 100%;
  }

  .landing-page:first-of-type {
    min-height: 20em;
  }

  .landing-page:first-of-type h1 {
    font-size: 3em;
    transform: rotate(15deg);
  }

  body {
    font-size: .9em;
  }

  .topic-options {
    width: 90%;
  }

  .topics h2 {
    font-size: 1.3em;
  }

  .form {
    width: 90%;
  }

  .form input[type="submit"] {
    width: 100%;
  }

  .topics-index {
    width: 100%;
  }

  .flash-card {
    width: 90%;
  }

  .topics table {
    width: 100%;
  }

  .topics th {
    font-size: 1.4em;
  }
  .topics td {
    font-size: 1.2em;
  }

  #final-score {
    font-size: 1.5em;
  }
}

}
