<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <form action="/sessions" method="POST">
        <legend>Log in</legend>
        <label for="username">username: </label>
        <input type="text" name="username" id="username">
        <label for="password">password:</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="log in">
      </form>
    </main>
    <footer>
    </footer>
  </body>
</html>
