<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <form class="form" action="/users/<%=user.id%>/?_method=PUT" method="POST">
        <legend>Change username</legend>
        <label for="username">username: </label>
        <input type="text" name="username" id="username" value="<%=user.username%>" minlength="3" required>
        <input type="submit" value="update">
      </form>
      <form class="form" action="/users/<%=user.id%>/password/?_method=PUT" method="POST">
        <legend>Change password</legend>
        <label for="password">new password:</label>
        <input type="password" name="password" id="password" minlength="8" required>
        <label for="passwordConfirm">please confirm:</label>
        <input type="password" name="passwordConfirm" id="passwordConfirm" minlength="8" required>
        <input type="submit" value="update">
      </form>
      <form class="form" action="/users/<%=user.id%>/?_method=DELETE" method="POST">
        <legend>Delete my account</legend>
        <p>Please note: This action will delete <em>your entire account</em>, including all your topics and flash cards. You may come back at any point in time to create a new account. You will not be able to retrieve previously created data, though.</p>
        <input class="delete-btn" type="submit" value="DELETE">
      </form>
    </main>
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
