<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>

    </header>
    <main>
      <p>Well helloooooo, <%=currentUser.username%>!</p>
    </main>
    <footer>

    </footer>
  </body>
</html>
