<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <form class="form" action="/data/<%= card.id %>/?_method=PUT" method="POST">
        <legend>Edit flash card</legend>
        <label for="question">question:</label>
        <textarea name="question" required><%= card.question; %></textarea>
        <label for="answer">answer:</label>
        <textarea name="answer" required><%= card.answer; %></textarea>
        <input type="submit" value="update">
      </form>
      <hr / >
      <form class="form" action="/data/<%= card.id; %>/?_method=DELETE" method="post">
        <legend>Delete flash card</legend>
        <input class="delete-btn" type="submit" value="DELETE">
      </form>
    </main>
    <footer>
    </footer>
  </body>
</html>
