<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <form class="form" action="/topics/<%= topic.id %>/?_method=PUT" method="POST">
        <legend>Edit topic</legend>
        <label for="title">title:</label>
        <input type="text" name="title" value="<%= topic.title %>">
        <label for="description">description:</label>
        <textarea name="description"><%= topic.description %></textarea>
        <input type="submit" value="update">
      </form>
      <form action="/topics/<%= topic.id; %>/?_method=DELETE" method="post">
        <input type="submit" value="DELETE">
      </form>
    </main>
    <footer>
    </footer>
  </body>
</html>
