<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <aside>
        <a href="topics/new">add new topic</a>
      </aside>
    </main>
    <footer>
    </footer>
  </body>
</html>
