<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
      <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      <script type="text/javascript" src="/scripts/script.js"></script>
    </header>
    <main>
        <aside>
          <% include ../partials/aside %>
        </aside>
        <div class="light-bulb"></div>
        <section class="topic-options">
          <h2><%= topic.title; %></h2>
          <p><%= topic.description; %></p>
        </section>
        <section class='quiz'>
          <div class='quiz-question'></div>
          <div class='quiz-answer'></div>
          <div class='quiz-answer'></div>
          <div class='quiz-answer'></div>
          <section id='final-score'>
            <p>Correct answers: <span id='correct'>0</span></p>
            <p>Incorrect answers: <span id='wrong'>0</span></p>
            <p>Total number of cards revised: <span id='total'>0</span></p>
            <a href="/topics/<%= topic.id %>">back</a>
          </section>
        </section>

    </main>
    <footer>
    </footer>
  </body>
</html>
